<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qyqfi.databaseii_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DB-II"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".ChangeProfileActivity" />
        <activity android:name=".ParentRegisterActivity" />
        <activity android:name=".ParentLoginActivity" />
        <activity android:name=".ParentMainMenuActivity" />
        <activity android:name=".ChangeChildProfileActivity" />
        <activity android:name=".ViewSectionActivity" />
        <activity android:name=".EnrollSectionActivity" />
        <activity android:name=".ParentViewSectionActivity" />
        <activity android:name=".ParentModerateSectionActivity"></activity>
    </application>

</manifest>